In [1]:
import os
# ÊâìÂç∞ÂΩìÂâçÂ∑•‰ΩúÁõÆÂΩï
print("Current working directory:", os.getcwd())
import sys
print("current python environment:", sys.executable)

import pandas as pd
from datetime import datetime
import geopandas as gpd
from shapely.geometry import Point
import contextily as ctx
import matplotlib.pyplot as plt
import mapclassify
import matplotlib.colors as mcolors
from matplotlib.colors import ListedColormap
import numpy as np

Current working directory: /Users/libowen/SD3rd/RP/code
current python environment: /Users/libowen/miniforge3/envs/windmap/bin/python

In [2]:
for subdir in ["observations", "prognosis", "settlement", "settlement2"]:
    path = f"energinet/{subdir}"
    print(f" {subdir}:")
    print(os.listdir(path))
    print()

üìÇ observations:
['observed_wind_speed_gust.parquet', 'observed_wind_speed_mean.parquet', 'observed_wind_speed_high10.parquet', 'observed_pressure.parquet', 'observed_wind_direction.parquet']

üìÇ prognosis:
['.DS_Store', 'HIR', 'grid_coordinates.csv', 'ENetNEA']

üìÇ settlement:
['2005.parquet', '2015.parquet', '2014.parquet', '2004.parquet', '2006.parquet', '2016.parquet', '2017.parquet', '2007.parquet', '2002.parquet', '2012.parquet', '2013.parquet', '2003.parquet', '2018.parquet', '2008.parquet', '2001.parquet', '2011.parquet', '2010.parquet', '2000.parquet', '2009.parquet', '2019.parquet']

üìÇ settlement2:
['Year=2003', 'Year=2004', '.DS_Store', 'Year=2005', 'Year=2002', 'Year=2018', 'Year=2011', 'Year=2016', 'Year=2017', 'Year=2010', 'Year=2019', 'Year=2007', 'Year=2000', 'Year=2009', 'Year=2008', 'Year=2001', 'Year=2006', 'Year=2015', 'Year=2012', '_SUCCESS', 'Year=2013', 'Year=2014']

In [4]:


# ËÆæÁΩÆË∑ØÂæÑ
base_paths = {
    "masterdata": "energinet/masterdatawind.parquet",
    "observations": "energinet/observations",
    "settlement": "energinet/settlement",
    "settlement2": "energinet/settlement2/Year=2016"
}

# ËØªÂèñ masterdata
print("\nMASTERDATA")
try:
    df = pd.read_parquet(base_paths["masterdata"])
    display(df.head())  # Jupyter ÊîØÊåÅÊõ¥ÁæéËßÇÊòæÁ§∫
except Exception as e:
    print(f"Error reading masterdata: {e}")

# ËØªÂèñ observations ‰∏ãÁöÑÊØè‰∏™Êñá‰ª∂
print("\n OBSERVATIONS")
obs_dir = base_paths["observations"]
for file in os.listdir(obs_dir):
    if file.endswith(".parquet"):
        print(f"\n {file}")
        try:
            df = pd.read_parquet(os.path.join(obs_dir, file))
            display(df.head())
        except Exception as e:
            print(f" Error reading {file}: {e}")

# ËØªÂèñ settlement Êüê‰∫õÂπ¥‰ªΩ
print("\n SETTLEMENT (sample years)")
settle_dir = base_paths["settlement"]
for file in sorted(os.listdir(settle_dir))[:3]:  # ÈôêÂà∂Ââç3‰∏™
    if file.endswith(".parquet"):
        print(f"\n {file}")
        try:
            df = pd.read_parquet(os.path.join(settle_dir, file))
            display(df.head())
        except Exception as e:
            print(f"Error reading {file}: {e}")

# ËØªÂèñ settlement2 ÊüêÂá†‰∏™ part Êñá‰ª∂
print("\n SETTLEMENT2 (sample parts)")
settle2_dir = base_paths["settlement2"]
for file in sorted(os.listdir(settle2_dir))[:3]:
    if file.endswith(".parquet"):
        print(f"\n {file}")
        try:
            df = pd.read_parquet(os.path.join(settle2_dir, file))
            display(df.head())
        except Exception as e:
            print(f" Error reading {file}: {e}")

MASTERDATA

,GSRN,Turbine_short_name,Turbine_name,Turbine_type,Parent_GSRN,In_service,Out_service,BBR_municipal,Placement,UTM_x,...,Manufacturer,Rotor_diameter,Navhub_height,Fullload_amount,Fullload_quota,Fullload_datetime,Actor_short_name,Actor_name,Valid_to,Valid_from
0,000000000000000000,348-80052,Husstandsm√∏lle v/ Morten M√∏rup,H,None,2012-08-11 00:00:00+00:00,2014-10-01 00:00:00+00:00,760,None,NaN,...,44707128,13.0,18.2,NaN,NaN,NaT,EGENPROD-W,Egenproducent,2014-10-31 23:59:59,2012-07-31 23:00:00
1,570714700000000027,791-079/1,Parkstien 1,M,570714700000050459,1993-02-03 00:00:00+00:00,NaT,101,LAND,720898.353,...,44707106,27.0,30.0,NaN,15000.0,NaT,None,None,None,None
2,570714700000000027,791-079/1,Damhus√•en 2,M,570714700000050459,1993-02-03 00:00:00+00:00,NaT,101,LAND,720898.353,...,44707106,27.0,30.0,NaN,15000.0,NaT,None,None,None,None
3,570714700000000034,791-079/2,Parkstien 1,M,570714700000050459,1993-02-03 00:00:00+00:00,NaT,101,LAND,720993.352,...,44707106,27.0,30.0,NaN,15000.0,NaT,None,None,None,None
4,570714700000000034,791-079/2,Damhus√•en 1,M,570714700000050459,1993-02-03 00:00:00+00:00,NaT,101,LAND,720993.352,...,44707106,27.0,30.0,NaN,15000.0,NaT,None,None,None,None

 OBSERVATIONS

 observed_wind_speed_gust.parquet

,municipal,subtype,value,unit
timestamp_utc,,,,
2015-01-11 00:00:00+00:00,Aller√∏d,Time h√∏jeste 3-sekunders vindhastighed,24.600000,m/s
2015-01-11 02:00:00+00:00,Assens,Time h√∏jeste 3-sekunders vindhastighed,22.799999,m/s
2015-01-11 13:00:00+00:00,Assens,Time h√∏jeste 3-sekunders vindhastighed,0.000000,m/s
2015-01-11 04:00:00+00:00,Ballerup,Time h√∏jeste 3-sekunders vindhastighed,23.000000,m/s
2015-01-11 10:00:00+00:00,Br√∏nderslev,Time h√∏jeste 3-sekunders vindhastighed,21.400000,m/s

 observed_wind_speed_mean.parquet

,municipal,subtype,value,unit
timestamp_utc,,,,
2011-10-08 08:00:00+00:00,Bornholm,Time middelvindhastighed,6.502911,m/s
2011-10-08 21:00:00+00:00,Bornholm,Time middelvindhastighed,4.549852,m/s
2011-10-08 20:00:00+00:00,Frederikshavn,Time middelvindhastighed,5.956878,m/s
2011-10-08 06:00:00+00:00,Glostrup,Time middelvindhastighed,4.469166,m/s
2011-10-08 20:00:00+00:00,Holstebro,Time middelvindhastighed,2.343380,m/s

 observed_wind_speed_high10.parquet

,municipal,subtype,value,unit
timestamp_utc,,,,
2012-05-28 23:00:00+00:00,Aabenraa,Time h√∏jeste 10-minutters vindhastighed,5.9,m/s
2012-05-29 02:00:00+00:00,Aabenraa,Time h√∏jeste 10-minutters vindhastighed,7.3,m/s
2012-05-29 21:00:00+00:00,Br√∏nderslev,Time h√∏jeste 10-minutters vindhastighed,3.7,m/s
2012-05-29 13:00:00+00:00,Gribskov,Time h√∏jeste 10-minutters vindhastighed,4.5,m/s
2012-05-29 14:00:00+00:00,Holstebro,Time h√∏jeste 10-minutters vindhastighed,8.3,m/s

 observed_pressure.parquet

                               municipal             subtype        value unit
timestamp_utc
2013-12-05 10:00:00+00:00       Favrskov  Time atmosf√¶retryk   996.572388  hPa
2013-12-04 23:00:00+00:00    Fredensborg  Time atmosf√¶retryk  1013.672180  hPa
2013-12-05 16:00:00+00:00  Frederikssund  Time atmosf√¶retryk   978.521851  hPa
2013-12-05 12:00:00+00:00       Gentofte  Time atmosf√¶retryk   995.386719  hPa
2013-12-05 22:00:00+00:00       H√∏rsholm  Time atmosf√¶retryk   978.666809  hPa

 observed_wind_direction.parquet

,municipal,subtype,value,unit
timestamp_utc,,,,
2018-02-06 08:00:00+00:00,Aabenraa,Time middel vindretning,112.536850,retning
2018-02-06 05:00:00+00:00,Assens,Time middel vindretning,115.970726,retning
2018-02-06 22:00:00+00:00,Ballerup,Time middel vindretning,166.937302,retning
2018-02-05 23:00:00+00:00,Billund,Time middel vindretning,74.539902,retning
2018-02-06 00:00:00+00:00,Bornholm,Time middel vindretning,342.285553,retning

üü® SETTLEMENT (sample years)

 2000.parquet

,GSRN,TS_ID,VAERDI,TIME_CET
0,570714700000006289,1575136,0,2000-12-21 00:00:00
1,570715000000052019,1002849,98.50000000000000000000000,2000-12-16 22:30:00
2,570715000000052019,1002849,87.50000000000000000000000,2000-12-16 22:45:00
3,570715000000052019,1002849,79.50000000000000000000000,2000-12-16 23:00:00
4,570715000000052019,1002849,84.50000000000000000000000,2000-12-16 23:15:00

 2001.parquet

,GSRN,TS_ID,VAERDI,TIME_CET
0,570715000000056048,1418183,-1.50000000000000000000000,2001-12-06 03:00:00
1,570715000000056048,1418183,3.00000000000000000000000,2001-12-06 03:15:00
2,570715000000056048,1418183,1.50000000000000000000000,2001-12-06 03:30:00
3,570715000000056048,1418183,-1.50000000000000000000000,2001-12-06 03:45:00
4,570715000000056048,1418183,-1.50000000000000000000000,2001-12-06 04:00:00

 2002.parquet

                 GSRN    TS_ID VAERDI             TIME_CET
0  570715000000044472  1007025      0  2002-01-01 00:00:00
1  570715000000044472  1007025      0  2002-01-01 00:15:00
2  570715000000044472  1007025      0  2002-01-01 00:30:00
3  570715000000044472  1007025      0  2002-01-01 00:45:00
4  570715000000044472  1007025      0  2002-01-01 01:00:00

 SETTLEMENT2 (sample parts)

 part-00103-3cf4efa6-8b08-4da3-87a8-fd17ef875940.c000.snappy.parquet

                 GSRN     TS_ID     VAERDI            TIME_CET
0  570715000000055393   1002901  29.549999 2016-12-07 23:00:00
1  570715000000055393   1002901  28.959999 2016-12-07 23:15:00
2  571313123280109150  46735878   0.010000 2016-11-30 23:15:00
3  571313123280109150  46735878   0.030000 2016-11-30 23:30:00
4  571313123280109150  46735878   0.020000 2016-11-30 23:45:00

 part-00104-3cf4efa6-8b08-4da3-87a8-fd17ef875940.c000.snappy.parquet

                 GSRN    TS_ID  VAERDI            TIME_CET
0  570715000000016851  1024038    0.00 2016-03-14 17:30:00
1  570715000000016851  1024038    0.00 2016-03-14 17:45:00
2  570715000000016851  1024038    0.06 2016-03-14 18:00:00
3  570715000000016851  1024038    4.01 2016-03-14 18:15:00
4  570715000000016851  1024038    6.56 2016-03-14 18:30:00

 part-00105-3cf4efa6-8b08-4da3-87a8-fd17ef875940.c000.snappy.parquet

                 GSRN    TS_ID     VAERDI            TIME_CET
0  570715000000049897  1409040  24.200001 2016-10-24 03:30:00
1  570715000000049897  1409040  24.200001 2016-10-24 03:45:00
2  570715000000049897  1409040  24.000000 2016-10-24 04:00:00
3  570715000000049897  1409040   9.200000 2016-10-24 04:15:00
4  570715000000049897  1409040  10.500000 2016-10-24 04:30:00

In [6]:
# Á§∫‰æãÔºöËØªÂèñ ENetNEA ÁöÑÈ£éÈÄüÈ¢ÑÊµã @ 100m
path = "energinet/prognosis/ENetNEA/wind_speed_100m.parquet"
df = pd.read_parquet(path)
print(df.columns)
df.head()

Index(['190', '191', '231', '232', '233', '273', '274', '275', '314', '315',
       ...
       '1412', '1413', '1445', '1446', '1447', '1448', '1449', '1450', '1451',
       'predicted_ahead'],
      dtype='object', length=355)

,190,191,231,232,233,273,274,275,314,315,...,1412,1413,1445,1446,1447,1448,1449,1450,1451,predicted_ahead
2018-02-22 00:00:00+00:00,5.3,4.5,6.1,5.4,4.6,5.5,5.2,6.0,3.6,4.7,...,0.5,8.9,6.8,6.8,7.7,3.7,4.6,4.4,4.4,1
2018-02-22 01:00:00+00:00,5.4,3.4,6.2,5.6,4.7,5.7,5.5,5.9,4.5,6.5,...,7.2,9.4,6.5,7.3,5.6,5.0,4.2,3.8,2.3,2
2018-02-22 02:00:00+00:00,4.2,4.9,5.1,4.6,4.6,6.0,5.3,5.2,5.8,6.3,...,7.6,9.3,6.0,6.1,3.7,4.0,3.8,2.5,1.7,3
2018-02-22 03:00:00+00:00,4.5,4.3,4.3,4.3,4.3,5.4,4.2,5.3,5.8,5.5,...,8.8,9.2,5.7,4.6,4.1,4.5,3.8,1.8,1.5,4
2018-02-22 04:00:00+00:00,4.7,4.1,4.5,4.9,4.0,4.8,4.9,4.9,4.7,4.6,...,8.3,9.4,4.7,3.3,4.4,3.5,1.7,1.7,3.8,5

In [7]:
path = "energinet/prognosis/ENetNEA/wind_direction_10m.parquet"
df = pd.read_parquet(path)
print(df.columns)
df.head()

Index(['190', '191', '231', '232', '233', '273', '274', '275', '314', '315',
       ...
       '1412', '1413', '1445', '1446', '1447', '1448', '1449', '1450', '1451',
       'predicted_ahead'],
      dtype='object', length=355)

,190,191,231,232,233,273,274,275,314,315,...,1412,1413,1445,1446,1447,1448,1449,1450,1451,predicted_ahead
2018-02-22 00:00:00+00:00,74,74,72,60,81,75,79,81,16,64,...,91,80,265,275,305,300,309,332,306,1
2018-02-22 01:00:00+00:00,70,70,73,56,78,76,86,90,66,91,...,83,76,276,290,297,335,331,309,293,2
2018-02-22 02:00:00+00:00,71,79,76,59,83,82,100,88,89,91,...,76,74,284,292,325,333,324,299,323,3
2018-02-22 03:00:00+00:00,76,76,81,60,85,92,98,84,86,96,...,72,72,292,305,343,329,310,303,11,4
2018-02-22 04:00:00+00:00,75,69,74,50,73,83,69,76,92,90,...,74,71,298,11,343,325,321,41,61,5

In [8]:
path = "energinet/prognosis/HIR/temperatur_2m.parquet"
df = pd.read_parquet(path)
print(df.columns)
df.head()

Index(['predicted_ahead', '190', '191', '231', '232', '233', '273', '274',
       '275', '314',
       ...
       '1411', '1412', '1413', '1445', '1446', '1447', '1448', '1449', '1450',
       '1451'],
      dtype='object', length=355)

,predicted_ahead,190,191,231,232,233,273,274,275,314,...,1411,1412,1413,1445,1446,1447,1448,1449,1450,1451
2010-01-01 18:00:00+00:00,1,274.2,273.9,273.6,271.2,273.5,273.2,272.4,271.7,273.6,...,270.6,270.8,271.3,271.5,271.0,270.9,270.9,271.1,271.1,271.3
2010-01-01 19:00:00+00:00,2,274.2,274.0,273.7,271.0,273.6,273.4,272.7,271.3,273.6,...,270.4,270.7,271.0,271.4,271.3,271.1,271.2,271.1,271.0,271.1
2010-01-01 20:00:00+00:00,3,274.3,274.0,273.7,270.8,273.6,273.4,272.6,271.2,273.7,...,270.3,270.7,270.9,271.6,271.5,271.3,271.2,271.2,271.1,271.1
2010-01-01 21:00:00+00:00,4,274.2,274.0,273.7,271.0,273.6,273.5,272.6,271.2,273.7,...,270.4,270.6,271.3,271.6,271.5,271.5,271.4,271.4,271.3,271.2
2010-01-01 22:00:00+00:00,5,274.2,274.0,273.7,271.4,273.5,273.4,272.5,271.1,273.7,...,270.4,270.5,271.7,271.7,271.5,271.5,271.5,271.4,271.3,271.3

In [9]:
df_grid = pd.read_csv("energinet/prognosis/grid_coordinates.csv")
df_grid.head()

   grid   utm_x    utm_y
0   190  895390  6112543
1   191  899875  6128134
2   231  874801  6101548
3   232  879280  6117148
4   233  883767  6132746

In [ ]:

# Á§∫‰æãËØªÂèñ‰∏ÄÈÉ®ÂàÜ settlement Êï∞ÊçÆ
df = pd.read_parquet("energinet/settlement/2000.parquet")

# ÈÄâÊã©Êüê‰∏™ GSRNÔºà‰æãÂ¶ÇÈöèÊú∫ÈÄâÊã©‰∏Ä‰∏™Â≠òÂú®ÁöÑÔºâ
sample_gsrn = df["GSRN"].unique()[0]
df_g = df[df["GSRN"] == sample_gsrn].copy()

# ËΩ¨Êç¢Êó∂Èó¥Ê†ºÂºèÂπ∂ÊéíÂ∫è
df_g["TIME_CET"] = pd.to_datetime(df_g["TIME_CET"])
df_g = df_g.sort_values("TIME_CET")

# ËÆ°ÁÆóÊó∂Èó¥Â∑Æ
df_g["time_diff"] = df_g["TIME_CET"].diff()
print(df_g["time_diff"].value_counts().head(10))
print(df.head())

time_diff
0 days 01:00:00    8760
Name: count, dtype: int64
                 GSRN    TS_ID                      VAERDI  \
0  570714700000006289  1575136                           0
1  570715000000052019  1002849  98.50000000000000000000000
2  570715000000052019  1002849  87.50000000000000000000000
3  570715000000052019  1002849  79.50000000000000000000000
4  570715000000052019  1002849  84.50000000000000000000000

              TIME_CET
0  2000-12-21 00:00:00
1  2000-12-16 22:30:00
2  2000-12-16 22:45:00
3  2000-12-16 23:00:00
4  2000-12-16 23:15:00

In [20]:
# ËØªÂèñÈ¢ÑÊµãÊï∞ÊçÆ
df = pd.read_parquet("energinet/prognosis/ENetNEA/temperatur_2m.parquet")

print(df.index)
print(df.columns)
print(df.head())

DatetimeIndex(['2018-02-22 00:00:00+00:00', '2018-02-22 01:00:00+00:00',
               '2018-02-22 02:00:00+00:00', '2018-02-22 03:00:00+00:00',
               '2018-02-22 04:00:00+00:00', '2018-02-22 05:00:00+00:00',
               '2018-02-22 06:00:00+00:00', '2018-02-22 07:00:00+00:00',
               '2018-02-22 08:00:00+00:00', '2018-02-22 09:00:00+00:00',
               ...
               '2020-01-11 21:00:00+00:00', '2020-01-11 22:00:00+00:00',
               '2020-01-11 23:00:00+00:00', '2020-01-12 00:00:00+00:00',
               '2020-01-12 01:00:00+00:00', '2020-01-12 02:00:00+00:00',
               '2020-01-12 03:00:00+00:00', '2020-01-12 04:00:00+00:00',
               '2020-01-12 05:00:00+00:00', '2020-01-12 06:00:00+00:00'],
              dtype='datetime64[ms, UTC]', length=291280, freq=None)
Index(['190', '191', '231', '232', '233', '273', '274', '275', '314', '315',
       ...
       '1412', '1413', '1445', '1446', '1447', '1448', '1449', '1450', '1451',
       'predicted_ahead'],
      dtype='object', length=355)
                             190    191    231    232    233    273    274  \
2018-02-22 00:00:00+00:00  274.3  274.1  274.4  272.9  273.7  274.2  272.8
2018-02-22 01:00:00+00:00  274.3  274.1  274.4  271.8  273.5  274.3  272.7
2018-02-22 02:00:00+00:00  274.3  274.1  274.4  272.3  273.5  274.3  273.0
2018-02-22 03:00:00+00:00  274.1  274.1  274.4  272.1  273.4  274.4  273.0
2018-02-22 04:00:00+00:00  274.2  274.0  274.4  271.3  273.3  274.4  272.2

                             275    314    315  ...   1412   1413   1445  \
2018-02-22 00:00:00+00:00  272.1  275.1  274.3  ...  276.8  275.6  277.3
2018-02-22 01:00:00+00:00  271.6  274.6  274.3  ...  275.3  275.3  277.5
2018-02-22 02:00:00+00:00  271.5  274.6  274.3  ...  274.8  275.2  277.7
2018-02-22 03:00:00+00:00  271.2  274.6  274.4  ...  274.6  275.0  277.6
2018-02-22 04:00:00+00:00  270.9  274.7  274.4  ...  274.3  274.9  277.4

                            1446   1447   1448   1449   1450   1451  \
2018-02-22 00:00:00+00:00  277.7  278.0  277.7  277.9  277.7  277.6
2018-02-22 01:00:00+00:00  277.8  278.0  278.1  277.8  277.7  277.5
2018-02-22 02:00:00+00:00  277.8  278.0  277.9  277.7  277.7  277.4
2018-02-22 03:00:00+00:00  277.8  277.9  277.8  277.7  277.6  277.3
2018-02-22 04:00:00+00:00  277.9  277.8  277.7  277.6  277.4  277.0

                           predicted_ahead
2018-02-22 00:00:00+00:00                1
2018-02-22 01:00:00+00:00                2
2018-02-22 02:00:00+00:00                3
2018-02-22 03:00:00+00:00                4
2018-02-22 04:00:00+00:00                5

[5 rows x 355 columns]